In [1]:
#Import CSV File
import pandas as pd
from sklearn.model_selection import train_test_split as tts
match_data = pd.read_csv('finalDataset.csv')
match_data.head()

,Team 1_Afghanistan,Team 1_Australia,Team 1_Bangladesh,Team 1_Bermuda,Team 1_Canada,Team 1_East Africa,Team 1_England,Team 1_Hong Kong,Team 1_India,Team 1_Ireland,...,Winner_New Zealand,Winner_P.N.G.,Winner_Pakistan,Winner_Scotland,Winner_South Africa,Winner_Sri Lanka,Winner_U.A.E.,Winner_U.S.A.,Winner_West Indies,Winner_Zimbabwe
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [2]:
#Display Columns
for i, feature in enumerate(list(match_data.columns)):
    print (i, feature)

0 Team 1_Afghanistan
1 Team 1_Australia
2 Team 1_Bangladesh
3 Team 1_Bermuda
4 Team 1_Canada
5 Team 1_East Africa
6 Team 1_England
7 Team 1_Hong Kong
8 Team 1_India
9 Team 1_Ireland
10 Team 1_Kenya
11 Team 1_Namibia
12 Team 1_Netherlands
13 Team 1_New Zealand
14 Team 1_P.N.G.
15 Team 1_Pakistan
16 Team 1_Scotland
17 Team 1_South Africa
18 Team 1_Sri Lanka
19 Team 1_U.A.E.
20 Team 1_U.S.A.
21 Team 1_West Indies
22 Team 1_Zimbabwe
23 Team 2_Afghanistan
24 Team 2_Australia
25 Team 2_Bangladesh
26 Team 2_Bermuda
27 Team 2_Canada
28 Team 2_East Africa
29 Team 2_England
30 Team 2_Hong Kong
31 Team 2_India
32 Team 2_Ireland
33 Team 2_Kenya
34 Team 2_Namibia
35 Team 2_Netherlands
36 Team 2_New Zealand
37 Team 2_P.N.G.
38 Team 2_Pakistan
39 Team 2_Scotland
40 Team 2_South Africa
41 Team 2_Sri Lanka
42 Team 2_U.A.E.
43 Team 2_U.S.A.
44 Team 2_West Indies
45 Team 2_Zimbabwe
46 Ground_Aberdeen
47 Ground_Abu Dhabi
48 Ground_Adelaide
49 Ground_Ahmedabad
50 Ground_Albion
51 Ground_Albury
52 Ground_Amritsar
53 Ground_Amstelveen
54 Ground_Auckland
55 Ground_Ayr
56 Ground_Ballarat
57 Ground_Basseterre
58 Ground_Belfast
59 Ground_Bengaluru
60 Ground_Benoni
61 Ground_Berri
62 Ground_Birmingham
63 Ground_Bloemfontein
64 Ground_Bogra
65 Ground_Bridgetown
66 Ground_Brisbane
67 Ground_Bristol
68 Ground_Bulawayo
69 Ground_Cairns
70 Ground_Canberra
71 Ground_Canterbury
72 Ground_Cape Town
73 Ground_Cardiff
74 Ground_Castries
75 Ground_Centurion
76 Ground_Chandigarh
77 Ground_Chelmsford
78 Ground_Chennai
79 Ground_Chester
80 Ground_Chittagong
81 Ground_Christchurch
82 Ground_Colombo
83 Ground_Cuttack
84 Ground_Dambulla
85 Ground_Darwin
86 Ground_Delhi
87 Ground_Derby
88 Ground_Devonport
89 Ground_Dhaka
90 Ground_Dharamsala
91 Ground_Dubai
92 Ground_Dublin
93 Ground_Dunedin
94 Ground_Durban
95 Ground_East London
96 Ground_Edinburgh
97 Ground_Faisalabad
98 Ground_Faridabad
99 Ground_Fatullah
100 Ground_Galle
101 Ground_Georgetown
102 Ground_Glasgow
103 Ground_Greater Noida
104 Ground_Gros Islet
105 Ground_Gujranwala
106 Ground_Guwahati
107 Ground_Gwalior
108 Ground_Hambantota
109 Ground_Hamilton
110 Ground_Harare
111 Ground_Hobart
112 Ground_Hove
113 Ground_Hyderabad
114 Ground_ICCA Dubai
115 Ground_Indore
116 Ground_Jaipur
117 Ground_Jalandhar
118 Ground_Jamshedpur
119 Ground_Jodhpur
120 Ground_Johannesburg
121 Ground_Kandy
122 Ground_Kanpur
123 Ground_Karachi
124 Ground_Khulna
125 Ground_Kimberley
126 Ground_King City
127 Ground_Kingston
128 Ground_Kingstown
129 Ground_Kochi
130 Ground_Kolkata
131 Ground_Kuala Lumpur
132 Ground_Kwekwe
133 Ground_Lahore
134 Ground_Launceston
135 Ground_Leeds
136 Ground_Leicester
137 Ground_Lincoln
138 Ground_Lord's
139 Ground_Lucknow
140 Ground_Manchester
141 Ground_Margao
142 Ground_Melbourne
143 Ground_Mohali
144 Ground_Mombasa
145 Ground_Mong Kok
146 Ground_Moratuwa
147 Ground_Mount Maunganui
148 Ground_Multan
149 Ground_Mumbai
150 Ground_Nagpur
151 Ground_Nairobi
152 Ground_Napier
153 Ground_Nelson
154 Ground_New Delhi
155 Ground_New Plymouth
156 Ground_North Sound
157 Ground_Northampton
158 Ground_Nottingham
159 Ground_Paarl
160 Ground_Pallekele
161 Ground_Patna
162 Ground_Perth
163 Ground_Peshawar
164 Ground_Pietermaritzburg
165 Ground_Port Elizabeth
166 Ground_Port Moresby
167 Ground_Port of Spain
168 Ground_Potchefstroom
169 Ground_Providence
170 Ground_Pune
171 Ground_Queenstown
172 Ground_Quetta
173 Ground_Rajkot
174 Ground_Ranchi
175 Ground_Rawalpindi
176 Ground_Roseau
177 Ground_Rotterdam
178 Ground_Sahiwal
179 Ground_Sargodha
180 Ground_Scarborough
181 Ground_Schiedam
182 Ground_Sharjah
183 Ground_Sheikhupura
184 Ground_Sialkot
185 Ground_Singapore
186 Ground_Southampton
187 Ground_Srinagar
188 Ground_St George's
189 Ground_St John's
190 Ground_Swansea
191 Ground_Sydney
192 Ground_Tangier
193 Ground_Taunton
194 Ground_Taupo
195 Ground_The Hague
196 Ground_The Oval
197 Ground_Thiruvananthapuram
198 Ground_Toronto
199 Ground_Townsville
200 Ground_Tunbridge Wells
201 Ground_Vadodara
202 Ground_Vijayawada
203 Ground_Visakhapatnam
204 Ground_Wellington
205 Ground_Whangarei
206 Ground_Worcester
207 Innings_Team1_First
208 Innings_Team1_Second
209 Innings_Team2_First
210 Innings_Team2_Second
211 Venue_Team1_Away
212 Venue_Team1_Home
213 Venue_Team1_Neutral
214 Venue_Team2_Away
215 Venue_Team2_Home
216 Venue_Team2_Neutral
217 Winner_Afghanistan
218 Winner_Australia
219 Winner_Bangladesh
220 Winner_Bermuda
221 Winner_Canada
222 Winner_East Africa
223 Winner_England
224 Winner_Hong Kong
225 Winner_India
226 Winner_Ireland
227 Winner_Kenya
228 Winner_Namibia
229 Winner_Netherlands
230 Winner_New Zealand
231 Winner_P.N.G.
232 Winner_Pakistan
233 Winner_Scotland
234 Winner_South Africa
235 Winner_Sri Lanka
236 Winner_U.A.E.
237 Winner_U.S.A.
238 Winner_West Indies
239 Winner_Zimbabwe

In [7]:
#Separation into Feature Set & Target Set
target_cols = match_data.columns[217:240]
feature_cols = match_data.columns[0:217]
print (target_cols)
print (feature_cols)

target_set = match_data[target_cols]
feature_set = match_data[feature_cols]

print(len(target_set))
print(len(feature_set))

Index(['Winner_Afghanistan', 'Winner_Australia', 'Winner_Bangladesh',
       'Winner_Bermuda', 'Winner_Canada', 'Winner_East Africa',
       'Winner_England', 'Winner_Hong Kong', 'Winner_India', 'Winner_Ireland',
       'Winner_Kenya', 'Winner_Namibia', 'Winner_Netherlands',
       'Winner_New Zealand', 'Winner_P.N.G.', 'Winner_Pakistan',
       'Winner_Scotland', 'Winner_South Africa', 'Winner_Sri Lanka',
       'Winner_U.A.E.', 'Winner_U.S.A.', 'Winner_West Indies',
       'Winner_Zimbabwe'],
      dtype='object')
Index(['Team 1_Afghanistan', 'Team 1_Australia', 'Team 1_Bangladesh',
       'Team 1_Bermuda', 'Team 1_Canada', 'Team 1_East Africa',
       'Team 1_England', 'Team 1_Hong Kong', 'Team 1_India', 'Team 1_Ireland',
       ...
       'Innings_Team1_First', 'Innings_Team1_Second', 'Innings_Team2_First',
       'Innings_Team2_Second', 'Venue_Team1_Away', 'Venue_Team1_Home',
       'Venue_Team1_Neutral', 'Venue_Team2_Away', 'Venue_Team2_Home',
       'Venue_Team2_Neutral'],
      dtype='object', length=217)
7494
7494

In [8]:
#Splitting Into Training & Testing Datasets
X = feature_set
Y = target_set
X_train, X_test, Y_train, Y_test = tts(X, Y, test_size=0.25)
print(len(X_train))
print(len(Y_train))

5620
5620

In [9]:
#Perceptron Classifier 1

from sklearn.neural_network import MLPClassifier
clf1 = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(100, 32), random_state=1)
clf1.fit(X_train, Y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100, 32), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [10]:
X_test.head()

,Team 1_Afghanistan,Team 1_Australia,Team 1_Bangladesh,Team 1_Bermuda,Team 1_Canada,Team 1_East Africa,Team 1_England,Team 1_Hong Kong,Team 1_India,Team 1_Ireland,...,Innings_Team1_First,Innings_Team1_Second,Innings_Team2_First,Innings_Team2_Second,Venue_Team1_Away,Venue_Team1_Home,Venue_Team1_Neutral,Venue_Team2_Away,Venue_Team2_Home,Venue_Team2_Neutral
1214,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,1,0,1,0,0
6897,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1
687,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1
6053,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,1,0,0,0,1,0
4343,0,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,1,0,0,1

In [11]:
predicted = clf1.predict(X_test)
predicted

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 1, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [12]:
from sklearn.metrics import accuracy_score
print(accuracy_score(Y_test, predicted))

0.590181430096

In [13]:
train_prediction = clf1.predict(X_train)
accuracy_score(Y_train, train_prediction)

0.75302491103202851

In [14]:
#Perceptron Classifier 2

from sklearn.neural_network import MLPClassifier
clf2 = MLPClassifier(solver='lbfgs', alpha=1e-3, hidden_layer_sizes=(200, 50), random_state=2)
clf2.fit(X_train, Y_train)

MLPClassifier(activation='relu', alpha=0.001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(200, 50), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=2, shuffle=True,
       solver='lbfgs', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [15]:
predicted = clf2.predict(X_test)
print(accuracy_score(Y_test, predicted))

0.581643543223

In [16]:
train_prediction = clf2.predict(X_train)
accuracy_score(Y_train, train_prediction)

0.7222419928825623

In [17]:
#Hash Indexing Teams 1

ourTeams_1 = {}
for i,teams in enumerate(list(match_data.columns)):
    if i==23:
        break
    teamName = str(teams)
    teamName = teamName.split("Team 1_", 1)[-1]
    ourTeams_1[teamName] = i
print(ourTeams_1)

{'P.N.G.': 14, 'U.A.E.': 19, 'Pakistan': 15, 'Sri Lanka': 18, 'Kenya': 10, 'South Africa': 17, 'U.S.A.': 20, 'Ireland': 9, 'Netherlands': 12, 'Hong Kong': 7, 'Australia': 1, 'India': 8, 'West Indies': 21, 'Scotland': 16, 'Bermuda': 3, 'England': 6, 'Afghanistan': 0, 'East Africa': 5, 'Zimbabwe': 22, 'Bangladesh': 2, 'Namibia': 11, 'New Zealand': 13, 'Canada': 4}

In [18]:
#Hash Indexing Teams 2

ourTeams_2 = {}
for i,teams in enumerate(list(match_data.columns)):
    if i<23:
        continue
    if i==46:
        break
    teamName = str(teams)
    teamName = teamName.split("Team 2_", 1)[-1]
    ourTeams_2[teamName] = i
print(ourTeams_2)

{'P.N.G.': 37, 'U.A.E.': 42, 'Pakistan': 38, 'Sri Lanka': 41, 'Kenya': 33, 'South Africa': 40, 'U.S.A.': 43, 'Ireland': 32, 'Netherlands': 35, 'Hong Kong': 30, 'Australia': 24, 'India': 31, 'West Indies': 44, 'Scotland': 39, 'Bermuda': 26, 'England': 29, 'Afghanistan': 23, 'East Africa': 28, 'Zimbabwe': 45, 'Bangladesh': 25, 'Namibia': 34, 'New Zealand': 36, 'Canada': 27}

In [19]:
#Hash Indexing Grounds & Innings

ourGrounds = {}
for i,grounds in enumerate(list(match_data.columns)):
    if i<46:
        continue
    if i==207:
        break
    groundName = str(grounds)
    groundName = groundName.split("Ground_", 1)[-1]
    ourGrounds[groundName] = i
print(ourGrounds)
print("\n")
ourInnings = {'Team1_1Inning': 207, 'Team1_2Inning': 208, 'Team2_1Inning': 209, 'Team2_2Inning': 210}
print(ourInnings)
print ("\n")
ourVenues = {'Team1_Away': 211, 'Team1_Home': 212, 'Team1_Neutral': 213, 'Team2_Away': 214, 'Team2_Home': 215, 'Team2_Neutral': 216}
print(ourVenues)

{'Cairns': 69, 'Leeds': 135, 'Dubai': 91, 'Cuttack': 83, 'Brisbane': 66, 'Pallekele': 160, 'Centurion': 75, 'Schiedam': 181, 'Birmingham': 62, 'New Plymouth': 155, 'Rotterdam': 177, 'Ayr': 55, 'Mong Kok': 145, 'Derby': 87, 'Fatullah': 99, 'Vijayawada': 202, 'Mohali': 143, 'Gujranwala': 105, 'Kingston': 127, 'Edinburgh': 96, 'Port of Spain': 167, 'Colombo': 82, 'East London': 95, 'Hyderabad': 113, 'Northampton': 157, 'Swansea': 190, 'Kingstown': 128, 'Port Elizabeth': 165, 'Moratuwa': 146, 'Nagpur': 150, 'Southampton': 186, 'Vadodara': 201, 'Providence': 169, 'Nottingham': 158, 'Gwalior': 107, 'Ballarat': 56, 'Benoni': 60, 'Perth': 162, 'Kwekwe': 132, 'Srinagar': 187, 'The Hague': 195, 'Delhi': 86, 'Roseau': 176, 'Bulawayo': 68, 'Jalandhar': 117, 'Basseterre': 57, 'Bridgetown': 65, 'Canterbury': 71, 'Albion': 50, 'King City': 126, 'Kuala Lumpur': 131, 'Hamilton': 109, 'Wellington': 204, 'New Delhi': 154, 'Melbourne': 142, 'Townsville': 199, 'Singapore': 185, 'Chittagong': 80, 'Taunton': 193, 'Albury': 51, 'Hambantota': 108, "St George's": 188, 'Indore': 115, 'Berri': 61, 'Rajkot': 173, 'Durban': 94, 'Pune': 170, 'Tangier': 192, 'Jaipur': 116, 'Margao': 141, 'Dhaka': 89, 'Bogra': 64, 'Toronto': 198, 'Galle': 100, 'Kochi': 129, 'Cape Town': 72, 'Harare': 110, 'Nairobi': 151, 'Bengaluru': 59, 'Castries': 74, 'Cardiff': 73, 'Hobart': 111, 'Greater Noida': 103, 'Multan': 148, 'Lincoln': 137, 'Chandigarh': 76, 'Sydney': 191, 'Mombasa': 144, 'North Sound': 156, 'Sheikhupura': 183, 'Launceston': 134, 'Dharamsala': 90, 'ICCA Dubai': 114, 'Chelmsford': 77, 'Dublin': 92, "St John's": 189, 'Bloemfontein': 63, 'Leicester': 136, 'Aberdeen': 46, 'Dambulla': 84, 'Mount Maunganui': 147, 'Glasgow': 102, 'Faisalabad': 97, "Lord's": 138, 'Sialkot': 184, 'Gros Islet': 104, 'Napier': 152, 'Worcester': 206, 'Kanpur': 122, 'Adelaide': 48, 'Hove': 112, 'Bristol': 67, 'Mumbai': 149, 'Auckland': 54, 'Ranchi': 174, 'Guwahati': 106, 'Amstelveen': 53, 'Quetta': 172, 'Rawalpindi': 175, 'Port Moresby': 166, 'Potchefstroom': 168, 'Abu Dhabi': 47, 'Paarl': 159, 'Karachi': 123, 'Peshawar': 163, 'Kandy': 121, 'Whangarei': 205, 'Georgetown': 101, 'Tunbridge Wells': 200, 'Belfast': 58, 'Jamshedpur': 118, 'Amritsar': 52, 'The Oval': 196, 'Canberra': 70, 'Sargodha': 179, 'Pietermaritzburg': 164, 'Queenstown': 171, 'Thiruvananthapuram': 197, 'Faridabad': 98, 'Lahore': 133, 'Kimberley': 125, 'Scarborough': 180, 'Chester': 79, 'Johannesburg': 120, 'Khulna': 124, 'Visakhapatnam': 203, 'Chennai': 78, 'Sahiwal': 178, 'Jodhpur': 119, 'Taupo': 194, 'Patna': 161, 'Lucknow': 139, 'Christchurch': 81, 'Darwin': 85, 'Nelson': 153, 'Devonport': 88, 'Kolkata': 130, 'Sharjah': 182, 'Manchester': 140, 'Dunedin': 93, 'Ahmedabad': 49}


{'Team1_2Inning': 208, 'Team1_1Inning': 207, 'Team2_1Inning': 209, 'Team2_2Inning': 210}


{'Team2_Away': 214, 'Team1_Neutral': 213, 'Team1_Home': 212, 'Team2_Neutral': 216, 'Team1_Away': 211, 'Team2_Home': 215}

In [20]:
#Hash Indexing the Target Winners

winnerIndex = {}
counter = 0
for i,teams in enumerate(list(match_data.columns)):
    if i<217:
        continue
    
    teamName = str(teams)
    teamName = teamName.split("Winner_", 1)[-1]
    winnerIndex[teamName] = counter
    counter+=1
print(winnerIndex)

{'P.N.G.': 14, 'U.A.E.': 19, 'Pakistan': 15, 'Sri Lanka': 18, 'Kenya': 10, 'South Africa': 17, 'U.S.A.': 20, 'Ireland': 9, 'Netherlands': 12, 'Hong Kong': 7, 'Australia': 1, 'India': 8, 'West Indies': 21, 'Scotland': 16, 'Bermuda': 3, 'England': 6, 'Afghanistan': 0, 'East Africa': 5, 'Zimbabwe': 22, 'Bangladesh': 2, 'Namibia': 11, 'New Zealand': 13, 'Canada': 4}

In [21]:
#Running Prediction in Detailed Manner

inputPrediction = [0]*217
print(inputPrediction)
t1 = 'India'
t2 = 'Pakistan'
ground = 'Jaipur'
inningsFirst = 'Team1_2Inning'
inningsSecond = 'Team2_1Inning'
venue1 = 'Team1_Home'
venue2 = 'Team2_Away'
inputPrediction[ourTeams_1[t1]] = 1
inputPrediction[ourTeams_2[t2]] = 1
inputPrediction[ourGrounds[ground]] = 1
inputPrediction[ourInnings[inningsFirst]] = 1
inputPrediction[ourInnings[inningsSecond]] = 1
inputPrediction[ourVenues[venue1]] = 1
inputPrediction[ourVenues[venue2]] = 1
print("\n\n")
print(inputPrediction)
print("\n\n\n")

#Running Predictions

ourPrediction = clf2.predict([inputPrediction])
print(ourPrediction)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]



[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0]




[[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]]

In [23]:
#Instance: 1

#inputPrediction = [0]*189

#t1 = input("Team 1:")
#t2 = input("Team 2:")
#ground = input("Ground:")
#innings = input("Winner Innings:(1/2)")
#inputPrediction[ourTeams_1[t1]] = 1
#inputPrediction[ourTeams_2[t2]] = 1
#inputPrediction[ourGrounds[ground]] = 1
#inputPrediction[ourInnings[innings]] = 1

#ourPrediction = clf2.predict([inputPrediction])
#print(ourPrediction)
#if ourPrediction[0][winnerIndex[t1]] == 1:
#    print("{} is the winner".format(t1))
#else:
#    print("{} is the winner".format(t2))

In [19]:
#Instance: 2

#inputPrediction = [0]*189

#t1 = input("Team 1:")
#t2 = input("Team 2:")
#ground = input("Ground:")
#innings = input("Winner Innings:(1/2)")
#inputPrediction[ourTeams_1[t1]] = 1
#inputPrediction[ourTeams_2[t2]] = 1
#inputPrediction[ourGrounds[ground]] = 1
#inputPrediction[ourInnings[innings]] = 1

#ourPrediction = clf2.predict([inputPrediction])
#print(ourPrediction)
#if ourPrediction[0][winnerIndex[t1]] == 1:
#    print("{} is the winner".format(t1))
#else:
#    print("{} is the winner".format(t2))

In [23]:
#Running Prediction in Detailed Probabilistic Manner

inputPrediction = [0]*217

t1 = 'India'
t2 = 'Pakistan'
ground = 'Karachi'
inningsFirst = 'Team1_1Inning'
inningsSecond = 'Team2_2Inning'
venue1 = 'Team1_Away'
venue2 = 'Team2_Home'
inputPrediction[ourTeams_1[t1]] = 1
inputPrediction[ourTeams_2[t2]] = 1
inputPrediction[ourGrounds[ground]] = 1
inputPrediction[ourInnings[inningsFirst]] = 1
inputPrediction[ourInnings[inningsSecond]] = 1
inputPrediction[ourVenues[venue1]] = 1
inputPrediction[ourVenues[venue2]] = 1

print("\n\n\n")

#Running Predictions

ourPrediction = clf1.predict_proba([inputPrediction])
print(ourPrediction)

totalPrediction = ourPrediction[0][winnerIndex[t1]] + ourPrediction[0][winnerIndex[t2]]
predictionT1 = (ourPrediction[0][winnerIndex[t1]]/totalPrediction) * 100
predictionT2 = (ourPrediction[0][winnerIndex[t2]]/totalPrediction) * 100
print("\n\n")
print(t1,":",predictionT1,"%")
print(t2,":",predictionT2,"%")

[[  7.76900753e-24   3.32932484e-14   2.45675945e-11   8.77710470e-11
    1.25970409e-12   2.03304986e-15   2.39681902e-21   1.33869316e-11
    8.79316683e-01   2.56416221e-21   1.98861942e-11   7.66971682e-14
    1.20758384e-23   6.40501547e-14   5.37569913e-10   6.80052367e-02
    1.82524386e-19   3.25512506e-15   6.93651131e-12   4.82090494e-09
    6.70261870e-14   1.71734714e-11   1.24167673e-12]]



India : 92.82131709 %
Pakistan : 7.17868291004 %